<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>inTouch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C340D5D18C16FF7009A96D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C340D7E18C16FF8009A96D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C4D2E011B5EA1F300FE6B5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C4D2E101B5EA2CF00FE6B5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C4D2E231B5EA3A600FE6B5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
